@charset "UTF-8";
.code-plus__inside {
  font-family: Menlo, Monaco, Consolas, Courier New, monospace;
  color: #595959;
  line-height: 22px;
  font-size: 14px;
  border: none;
  box-shadow: none;
  white-space: pre;
  border: none;
  min-width: 100%;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  padding: 0;
  display: inline-block;
}

.code-plus__inside:empty:before {
  content: attr(data-placeholder);
}

.code-plus-outside-container {
  position: relative;
  background-color: #fafafa;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.code-plus-outside-container .code-plus-drag-back {
  position: absolute;
  bottom: 0;
  width: -webkit-calc(100% - 80px);
  width: -moz-calc(100% - 80px);
  width: calc(100% - 80px);
  left: 40px;
  height: 40px;
  -webkit-transition: background-image ease 0.3s;
  -o-transition: background-image ease 0.3s;
  -moz-transition: background-image ease 0.3s;
  transition: background-image ease 0.3s;
  cursor: pointer;
  pointer-events: all;
}
.code-plus-outside-container .code-plus-drag {
  position: absolute;
  bottom: 8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 96px;
  height: 4px;
  border-radius: 3px;
  background: #BFBFBF;
  pointer-events: all;
}

.code-plus__outside {
  width: 100%;
  overflow-x: auto;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  height: 100%;
  min-height: 24px;
  max-height: 440px;
  padding: 0 40px 40px;
  overflow-y: hidden;
  position: relative;
  -webkit-mask: -webkit-linear-gradient(bottom, transparent 1%, #fff 99%), -webkit-linear-gradient(right, #000, #000);
          mask: linear-gradient(to top, transparent 1%, #fff 99%), linear-gradient(270deg, #000, #000);
  -webkit-mask-size: 100% 40px, 100% -webkit-calc(100% - 40px);
          mask-size: 100% 40px, 100% -moz-calc(100% - 40px);
          mask-size: 100% 40px, 100% calc(100% - 40px);
  -webkit-mask-position: bottom, top;
          mask-position: bottom, top;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  /* 整个滚动条 */
}
.code-plus__outside::-webkit-scrollbar {
  /* 对应纵向滚动条的宽度 */
  width: 8px;
  /* 对应横向滚动条的宽度 */
  height: 8px;
  display: none;
}
.code-plus__outside::-webkit-scrollbar-thumb {
  background-color: #cfcfcf;
  border-radius: 4px;
}
.code-plus__outside::-webkit-scrollbar-track {
  background-color: transparent;
}
.code-plus__outside .code-plus-line-number-es {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  pointer-events: none;
  padding-inline: 5px 20px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
.code-plus__outside .code-plus-line-number-es span {
  display: inline-block;
  height: 22px;
  line-height: 22px;
  font-size: 14px;
  text-align: right;
  color: #B3B3B3;
  font-family: JetBrainsMono-Regular, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
}

.code-plus-svg-wrapper {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 28px;
  height: 28px;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  cursor: pointer;
  -webkit-transform: scale(0.9999);
     -moz-transform: scale(0.9999);
      -ms-transform: scale(0.9999);
       -o-transform: scale(0.9999);
          transform: scale(0.9999);
}
.code-plus-svg-wrapper path {
  stroke: none !important;
}

.code-plus-language {
  height: 40px;
  background-color: #fafafa;
  -webkit-transition: background-color 0.15s ease;
  -o-transition: background-color 0.15s ease;
  -moz-transition: background-color 0.15s ease;
  transition: background-color 0.15s ease;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.ce-block--selected .code-plus-language {
  background-color: #ECF6F0 !important;
}
.ce-block--selected .code-plus-outside-container {
  background-color: #ECF6F0 !important;
}
.ce-block--selected .operator {
  background: transparent !important;
}

.code-plus-text {
  cursor: pointer;
  border-radius: 2px;
  padding: 2px;
  -webkit-transition: background 0.2s;
  -o-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
}
.code-plus-text:hover {
  background-color: #ebebeb;
}

.code-plus-library-menu .code-plus-select-language-menu {
  border-radius: 6px;
  padding: 6px;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.code-plus-library-menu .code-plus-select-language-menu .code-plus-copy,
.code-plus-library-menu .code-plus-select-language-menu .code-plus-language-item {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.code-plus-library-menu .code-plus-select-language-menu .code-plus-copy span,
.code-plus-library-menu .code-plus-select-language-menu .code-plus-language-item span {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.code-plus-library-menu .code-plus-select-language-menu .code-plus-copy span:last-child,
.code-plus-library-menu .code-plus-select-language-menu .code-plus-language-item span:last-child {
  width: 10px;
  height: 10px;
  opacity: 0;
  -webkit-transition: opacity ease 0.3s;
  -o-transition: opacity ease 0.3s;
  -moz-transition: opacity ease 0.3s;
  transition: opacity ease 0.3s;
  -webkit-transform: scale(0.9999);
     -moz-transform: scale(0.9999);
      -ms-transform: scale(0.9999);
       -o-transform: scale(0.9999);
          transform: scale(0.9999);
}
.code-plus-library-menu .code-plus-select-language-menu .code-plus-copy span:last-child path,
.code-plus-library-menu .code-plus-select-language-menu .code-plus-language-item span:last-child path {
  stroke: unset;
}
.code-plus-library-menu .code-plus-select-language-menu .code-plus-copy {
  width: 28px;
  height: 28px;
  border-radius: 4px;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  transition: all ease 0.3s;
  opacity: 0;
}
.code-plus-library-menu .code-plus-select-language-menu .code-plus-copy:hover {
  background-color: #EAEAEA;
}
.code-plus-library-menu .code-plus-select-language-menu .code-plus-copy-info {
  margin: 0em 0.75em 0em 0em;
  box-shadow: 0 0 6px -1px rgba(140, 146, 163, 0.5);
  background-color: #ffffff;
  position: absolute;
  padding: 10px 12px;
  font-weight: normal;
  font-style: normal;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 0.2857rem;
  opacity: 0;
  -webkit-transition: opacity ease 0.3s;
  -o-transition: opacity ease 0.3s;
  -moz-transition: opacity ease 0.3s;
  transition: opacity ease 0.3s;
  top: 0;
  right: 40px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  font-size: 12px;
  white-space: nowrap;
  pointer-events: none;
  z-index: 99;
}
.code-plus-library-menu .code-plus-select-language-menu .code-plus-copy-info.hidden {
  opacity: 0;
}
.code-plus-library-menu .code-plus-select-language-menu .code-plus-copy-info.visible {
  opacity: 1;
}
.code-plus-library-menu .code-plus-select-language-menu .code-plus-copy-info::before {
  top: 50%;
  right: -0.325em;
  bottom: auto;
  left: auto;
  margin-top: -0.325em;
  position: absolute;
  content: "";
  width: 0.75em;
  height: 0.75em;
  background: #ffffff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
       transform: rotate(45deg);
  z-index: 2;
}
.code-plus-library-menu .code-plus-select-language-menu .code-plus-language-menu {
  position: relative;
}
.code-plus-library-menu .code-plus-select-language-menu .code-plus-language-menu .code-plus-language-item {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 6px;
  color: rgba(0, 0, 0, 0.87);
  font-size: 12px;
}
.code-plus-library-menu .code-plus-select-language-menu .code-plus-language-menu .code-plus-language-item .code-plus-language-svg {
  -webkit-transition: all 297ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 198ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 297ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 198ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -o-transition: all 297ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -o-transform 198ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -moz-transition: all 297ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 198ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -moz-transform 198ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 297ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 198ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 297ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 198ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 198ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -moz-transform 198ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -o-transform 198ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.code-plus-library-menu .code-plus-select-language-menu .code-plus-language-menu .code-plus-language-item:hover {
  background-color: #EAEAEA;
}

.code-plus-language-outside {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2023;
  overflow: hidden;
}
.code-plus-language-outside .code-plus-language-options {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  max-height: 200px;
  padding-top: 10px;
  margin-top: 5px;
  padding-bottom: 10px;
  padding-right: 4px;
  -webkit-transition: all 297ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 198ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 297ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 198ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -o-transition: all 297ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -o-transform 198ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -moz-transition: all 297ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 198ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -moz-transform 198ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 297ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 198ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 297ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 198ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 198ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -moz-transform 198ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -o-transform 198ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.code-plus-language-outside .code-plus-language-options .code-plus-language-scroll {
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: auto;
  /* 整个滚动条 */
}
.code-plus-language-outside .code-plus-language-options .code-plus-language-scroll::-webkit-scrollbar {
  /* 对应纵向滚动条的宽度 */
  width: 8px;
  /* 对应横向滚动条的宽度 */
  height: 8px;
}
.code-plus-language-outside .code-plus-language-options .code-plus-language-scroll::-webkit-scrollbar-thumb {
  background-color: #cfcfcf;
  border-radius: 4px;
}
.code-plus-language-outside .code-plus-language-options .code-plus-language-scroll::-webkit-scrollbar-track {
  background-color: transparent;
}
.code-plus-language-outside .code-plus-language-options .code-plus-input {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid #c8cccf;
  color: #6a6f77;
  -web-kit-appearance: none;
  -moz-appearance: none;
  display: block;
  outline: 0;
  padding: 4px;
  text-decoration: none;
  margin-inline: 10px;
  -webkit-margin-after: 10px;
          margin-block-end: 10px;
}
.code-plus-language-outside .code-plus-language-options .code-plus-language-option {
  cursor: pointer;
  padding: 0 15px;
  height: 30px;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  color: #4c4c4c;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}
.code-plus-language-outside .code-plus-language-options .code-plus-language-option:hover {
  background-color: #EAEAEA;
}